<div class="container">
  <div class="about-content">
    <div class="row">
      <div class="col-md-3 left-content">
        <img src="assets/profile_image_white.png" class="prfl-image" alt="">
      </div>
      <div class="col-md-9 right-content">
        <h2>{{person.firstName}} {{person.lastName}}</h2>
        <p class="designation">{{person.designation}}</p>
        <div class="row">
          <div class="col-3 right-content-left">
            <p>Phone :</p>
            <p>Email :</p>
            <p>Address :</p>
          </div>

          <div class="col-9 right-content-right">
            <p>{{person.phone}}</p>
            <p>{{person.email}}</p>
            <p>{{person.address}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="about-me">
      <p class="about-me-content">{{person.personDetails}}</p>
    </div>
  </div>
</div>
