<div class="container">
  <div class="about-content">
    <div class="row">
      <div class="col-md-3 left-content">
        <img src="assets/profile_image_white.png" class="prfl-image" alt="">
      </div>
      <div class="col-md-9 right-content">
        <h2>Md. Mehedi Hasan</h2>
        <p class="designation">full stack developer</p>
        <div class="row">
          <div class="col-3 right-content-left">
            <p>Phone :</p>
            <p>Email :</p>
            <p>Address :</p>
          </div>

          <div class="col-9 right-content-right">
            <p>+8801400-214243</p>
            <p>mdmehedihasanroni28@gmail.com</p>
            <p>Azampur, Uttara, Dhaka -1230</p>
          </div>
        </div>
      </div>
    </div>

    <div class="about-me">
      <p class="about-me-content">Hello, I'am <strong>Mehedi Hasan</strong>. I am a full stack developer. I hold a bachelor's degree in Computer
        Science
        &
        Engineering from Southeast University. Over the past One years, I have done more than 5 projects.</p>
    </div>
  </div>
</div>
