.about-content {
  margin-bottom: 100px;
}

.about-content .prfl-image {
  height: 100%;
  width: 100%;
}

.about-content .left-content {
  background-color: #fff;
}

.about-content .right-content {
  padding-left: 70px;
}

.about-content .right-content .designation {
  padding-bottom: 40px;
  color: #3e64ff;
}

.about-content .right-content .right-content-left {
  font-size: 20px;
  font-weight: 600;
}

.about-content .right-content .right-content-right {
  font-size: 20px;
}

.about-me {
  margin-top: 25px;
}

.about-me .about-me-content {
  color: #888;
  line-height: 2.2;
  letter-spacing: 2px;
}

.about-me .about-me-content strong {
  color: #ffffff;
}
