<!-- Bio Section -->
<div class="bio-section" id="resume">
  <div class="container">
    <div class="bio">
      <aside class="side-bar">
        <div class="side-bar-nav">
          <a href="#education" class="education">Education</a>
          <a href="#experience" class="experience">Experience</a>
          <a href="#skill" class="skills">Skills</a>
          <!--          <a href="#award" class="award">Award</a>-->
        </div>
      </aside>
      <article class="bio-contetn-elements">
        <!-- Education -->
        <div class="education-content">
          <div class="bio-content" id="education" *ngFor="let education of educationList">
            <h2 class="heading">Education</h2>
            <div class="header-content">
              <div class="resume-icon">
                <p class="book">
                  <i class="fas fa-book-reader book-icon"></i>
                </p>
              </div>
              <div class="bio-info">
                <p class="date">{{education.educationTimePeriodFrom}} - {{education.educationTimePeriodTo}}</p>
                <h2 class="degree">
                  {{education.degreeTitle}}
                </h2>
                <p class="university-name">
                  {{education.instituteName}}
                </p>
                <p class="about-seu">
                  {{education.educationDescription}}
                </p>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <!-- Experience -->
        <div class="experience-content">
          <div class="bio-content" id="experience" *ngFor="let experience of experienceList">
            <h2 class="heading">Experience</h2>
            <div class="header-content">
              <div class="resume-icon">
                <p class="book">
                  <i class="fas fa-book-reader book-icon"></i>
                </p>
              </div>
              <div class="bio-info">
                <p class="date">{{experience.experienceTimePeriodFrom}} - {{experience.experienceTimePeriodTo}}</p>
                <h2 class="degree position">
                  {{experience.designation}}
                </h2>
                <p class="university-name company-name">
                  {{experience.instituteName}}
                </p>
                <p class="about-seu">
                  {{experience.experienceDescription}}
                </p>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <!-- Skills -->
        <div class="bio-content skills-content" id="skill">
          <h2 class="heading">Skills</h2>
          <div class="progress-card-content">
            <div class="card progress-card" *ngFor="let coreSkill of coreSkillList">
              <div class="card-body">
                <h4 class="card-title text-center card-title-text">
                  {{coreSkill.skillName}}
                </h4>
                <div class="progress-content">
                  <div class="percentage percent-cal-one">
                    <svg>
                      <circle cx="70" cy="70" r="70"></circle>
                      <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                      <h4>{{coreSkill.skillNumber}}<span>%</span></h4>
                    </div>
                  </div>
                </div>
                <!--<div class="info">
                  <h4 class="text-one">28% <p>Last Week</p>
                  </h4>
                  <h4 class="text-two">60% <p>Last Month</p>
                  </h4>
                </div>-->
              </div>
            </div>
          </div>

          <div class="skill-progress-bar">
            <div class="row w-100 ml-0 mr-0">
              <div class="col-6 pl-0 pr-3">
                <div *ngFor="let leftSkill of leftSkillList">
                  <h3>{{leftSkill.skillName}}</h3>
                  <div class="progress mb-3">
                    <div class="progress-bar progress-bar-div" role="progressbar" style="width: 90%;"
                         aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">{{leftSkill.skillNumber}}%
                    </div>
                  </div>
                </div>
              </div>

                <div class="col-6 pl-3 pr-0">
                  <div *ngFor="let rightSkill of rightSkillList">
                    <h3>{{rightSkill.skillName}}</h3>
                    <div class="progress mb-3">
                      <div class="progress-bar" role="progressbar" style="width: 60%"
                           aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">{{rightSkill.skillNumber}}%
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--<div class="skill-progress-bar">
              <div class="left">
                <div class="left-skill-wrapper" *ngFor="let leftSkill of leftSkillList">
                  <h3 class="html-skill">{{leftSkill.skillName}}</h3>
                  <div class="progress mb-3 progress-div">
                    <div class="progress-bar progress-bar-div" role="progressbar" style="width: 90%;"
                         aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">{{leftSkill.skillNumber}}%
                    </div>
                  </div>
                </div>

                &lt;!&ndash;<h3 class="css-skill">CSS</h3>
                <div class="progress mb-3 progress-div">
                  <div class="progress-bar progress-bar-div" role="progressbar" style="width: 80%; font-weight: 600"
                       aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%
                  </div>
                </div>

                <h3 class="java-script-skill">Java Script</h3>
                <div class="progress progress-div">
                  <div class="progress-bar progress-bar-div" role="progressbar" style="width: 30%"
                       aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%
                  </div>
                </div>&ndash;&gt;
              </div>

              <div class="right">
                <div class="right-skill-wrapper" *ngFor="let rightSkill of rightSkillList">
                  <h3 class="spring-boot-skill">{{rightSkill.skillName}}</h3>
                  <div class="progress mb-3 progress-div">
                    <div class="progress-bar progress-bar-div" role="progressbar" style="width: 60%"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">{{rightSkill.skillNumber}}%
                    </div>
                  </div>
                </div>

                &lt;!&ndash;<h3 class="java-skill">Java</h3>
                <div class="progress mb-3 progress-div">
                  <div class="progress-bar progress-bar-div" role="progressbar" style="width: 70%"
                       aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%
                  </div>
                </div>

                <h3 class="angular-skill">Angular</h3>
                <div class="progress progress-div">
                  <div class="progress-bar progress-bar-div" role="progressbar" style="width: 50%"
                       aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%
                  </div>
                </div>&ndash;&gt;
              </div>
            </div>-->
          </div>

          <!-- Award -->
          <!--<div class="bio-content award-content" id="award">
            <h2 class="heading">Award</h2>
            <div class="header-content">
              <div class="resume-icon">
                <p class="book">
                  <i class="fas fa-book-reader book-icon"></i>
                </p>
              </div>
              <div class="bio-info">
                <p class="date">2019-2020</p>
                <h2 class="degree award-name">
                  Top 100000 Software Developer.
                </h2>
                <p class="university-name company-name">
                  Bangladesh.
                </p>
                <p class="about-seu">
                  A small river named Duden flows by their place and supplies it with the necessary
                  regelialia. It is a paradisematic country, in which roasted parts of sentences fly
                  into your mouth.
                </p>
              </div>
            </div>
            <hr>

            <div class="header-content">
              <div class="resume-icon">
                <p class="book">
                  <i class="fas fa-book-reader book-icon"></i>
                </p>
              </div>
              <div class="bio-info">
                <p class="date">Demo Date</p>
                <h2 class="degree award-name">
                  Demo Award
                </h2>
                <p class="university-name company-name">
                  Demo Company
                </p>
                <p class="about-seu">
                  A small river named Duden flows by their place and supplies it with the necessary
                  regelialia. It is a paradisematic country, in which roasted parts of sentences fly
                  into your mouth.
                </p>
              </div>
            </div>
            <hr>
          </div>-->
      </article>
    </div>
  </div>
</div>
