<section class="services" id="services">
  <div class="container">
    <h1 class="service-txt text-center">Services</h1>
    <p class="about-our-service-txt text-center">Far far away, behind the word mountains, far from the countries
      Vokalia and
      Consonantia</p>

    <div class="service-card">
      <div class="top">
        <div class="card card-content">
          <div class="card-body">
            <i class="pe-7s-compass"></i>
            <h5 class="card-title">Web Design</h5>
            <p class="card-text">A small river named Duden flows by their place and supplies it with the
              necessary regelialia.</p>
          </div>
        </div>

        <div class="card card-content">
          <div class="card-body">
            <i class="pe-7s-science"></i>
            <h5 class="card-title">Web Developer</h5>
            <p class="card-text">A small river named Duden flows by their place and supplies it with the
              necessary regelialia.</p>
          </div>
        </div>

        <div class="card card-content">
          <div class="card-body">
            <i class="pe-7s-camera"></i>
            <h5 class="card-title">Photography</h5>
            <p class="card-text">A small river named Duden flows by their place and supplies it with the
              necessary regelialia.</p>
          </div>
        </div>
      </div>

      <div class="bottom">
        <div class="card card-content">
          <div class="card-body">
            <i class="pe-7s-magic-wand"></i>
            <h5 class="card-title">App Developing</h5>
            <p class="card-text">A small river named Duden flows by their place and supplies it with the
              necessary regelialia.</p>
          </div>
        </div>

        <div class="card card-content">
          <div class="card-body">
            <i class="pe-7s-light"></i>
            <h5 class="card-title">Product Strategy</h5>
            <p class="card-text">A small river named Duden flows by their place and supplies it with the
              necessary regelialia.</p>
          </div>
        </div>

        <div class="card card-content">
          <div class="card-body">
            <i class="pe-7s-plane"></i>
            <h5 class="card-title">Branding</h5>
            <p class="card-text">A small river named Duden flows by their place and supplies it with the
              necessary regelialia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
