<div class="top" id="home">
  <header class="header">
    <div class="container">
      <nav class="navbar roni-nav navbar-expand-lg navbar-light">
        <a href="#" class="navbar-brand brand-logo"><span class="a-brand">M</span>ehedi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-3">
              <a id="home-link" href="#home" class="nav-link active-section-link">Home</a>
            </li>
            <li class="nav-item mx-4">
              <a id="about-link" href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item mx-4">
              <a id="resume-link" href="#resume" class="nav-link">Resume</a>
            </li>
            <li class="nav-item mx-4">
              <a id="services-link" href="#services" class="nav-link">Services</a>
            </li>
            <li class="nav-item mx-4">
              <a id="projects-link" href="#projects" class="nav-link">Projects</a>
            </li>
            <!-- <li class="nav-item mx-4">
                <a id="blog-link" href="#blog" class="nav-link">My Blog</a>
            </li> -->
            <li class="nav-item mx-4">
              <a id="contact-link" href="#contact" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="banner">
    <div class="container text-center">
      <h6 class="first-text">HEY! I AM</h6>
      <h1 class="second-text">Mehedi Hasan</h1>
      <h2 class="third-text">I'm A <span class="dev-txt"> <span>De</span>veloper.</span></h2>
      <div class="diamond">
        <p class="mouse-wheel">
          <img class="arrow" src="assets/icons/arrow-thin-down.svg" alt="">
        </p>
      </div>
    </div>
  </div>
</div>
