.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
}

.header-scrolled {
  background-color: #ffffff;
  box-shadow: 0 0 10px 8px rgba(193, 193, 193, 0.3);
  transition: all 0.3s ease-in-out;
}

.top {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-nav .nav-item .nav-link {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #3e64ff;
  border-bottom: 2px solid #3e64ff;
}

.navbar-nav .nav-item .nav-link.active-section-link {
  color: #ffffff;
  border-bottom: 2px solid #3e64ff;
}

.navbar-nav .nav-item .nav-link {
  display: inline;
  padding-left: 0;
  padding-right: 0;
}

.roni-nav .brand-logo {
  font-family: 'Poppins', 'sans-serif';
  font-size: 26px;
  font-weight: 900;
  z-index: 1;
  color: #3e64ff;
}

.a-brand {
  position: relative;
  color: #ffff;
}

.a-brand::before {
  position: absolute;
  content: "";
  background-color: #3e64ff;
  width: 40px;
  height: 40px;
  left: -9px;
  top: -2px;
  border-radius: 50%;
  z-index: -1;
}

/* Banner */

.banner .first-text {
  font-size: 16px;
  font-weight: 800;
  color: #3e64ff;
}

.banner .second-text {
  font-size: 60px;
  font-weight: 800;
  color: #3e64ff;
}

.banner .third-text {
  font-weight: 800;
  color: #3e64ff;
  animation: banner-third-text-type-animation 3s infinite;
}

.banner .third-text .dev-txt {
  color: #ffffff;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 65px);
}

.banner .diamond {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  z-index: 11;
}

.banner .diamond::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, #ffffff 50%, #3e64ff 50%);
  transform: rotate(45deg);
  z-index: -1;
}

.banner .mouse-wheel {
  width: 70px;
  height: 70px;
}

.arrow {
  width: 20px;
  color: #000;
  animation: mouse-wheel-animation 2s infinite;
}

@keyframes mouse-wheel-animation {
  0% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(50px);
  }
}

@keyframes banner-third-text-type-animation {
  50% {
    transform: translateY(200px);
  }
  85% {
    letter-spacing: 8px;
  }
}
