<div class="container project">
  <h5 class="title">My Project</h5>
  <div class="nav project-nav">
    <a href="#" class="nav-link pl-0 project-nav-a" *ngFor="let projectType of projectTypeList">{{projectType.projectTypeName}}</a>
<!--    <a href="#" class="nav-link project-nav-a">WEB SITES</a>
    <a href="#" class="nav-link project-nav-a">MOBILE APPS</a>
    <a href="#" class="nav-link project-nav-a">LANDING PAGES</a>-->
  </div>

  <div class="project-content">
    <div class="card card-content" *ngFor="let project of projectList">
      <div class="row card-body-content">
        <div class="col-5 card-body-content-left">
          <img class="left-image" src="assets/images/project/p-1.jpeg" alt="">
        </div>
        <div class="col-md-7 right">
          <h3 class="project-content-title">{{project.projectTitle}}</h3>
          <p class="project-content-details">{{project.projectDescription}}</p>

          <div class="used-stack">
            <p>Used Stack : </p>
            <div class="used-stack-list">
              <a href="#" class="badge" *ngFor="let tool of project.projectToolList">{{tool.projectToolName}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
