<footer class="footer-section">
  <div class="container">
    <div class="row footer-content">
      <div class="col">
        <h2 class="footer-about-heading">About</h2>
        <p class="footer-about-text" style="color: #ffffff">Far far away, behind the word mountains, far from the countries
          Vokalia
          and
          Consonantia, there live the blind texts.</p>
      </div>

      <div class="col">
        <h2 class="footer-link-heading">Links</h2>
        <ul class="footer-list-group">
          <li>
            <a href="#"><i class="fas fa-long-arrow-alt-right"></i><span>Home</span></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-long-arrow-alt-right"></i><span>About</span></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-long-arrow-alt-right"></i><span>Services</span></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-long-arrow-alt-right"></i><span>Projects</span></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-long-arrow-alt-right"></i><span>Contact</span></a>
          </li>
        </ul>
      </div>

      <div class="col">
        <h2 class="footer-services-heading">Services</h2>
        <ul class="footer-list-group">
          <li>
            <a href="#"><i class="fas fa-long-arrow-alt-right"></i><span>Web Design</span></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-long-arrow-alt-right"></i><span>Web Development</span></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-long-arrow-alt-right"></i><span>Business
                                    Strategy</span></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-long-arrow-alt-right"></i><span>Data Analysis</span></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-long-arrow-alt-right"></i><span>Graphic Design</span></a>
          </li>
        </ul>
      </div>

      <div class="col">
        <h2 class="question-heading">Have a Questions?</h2>
        <ul class="question-list-group">
          <li><i class="fas fa-map-marker-alt"></i><span>203 Fake St. Mountain View, San Francisco,
                                California,
                                USA</span></li>
          <li><i class="fas fa-phone-alt"></i><span>+880 1400-214243</span></li>
          <li><i class="far fa-envelope"></i><span>mehedi@mensei.com</span></li>
        </ul>
      </div>
    </div>
    <p class="copyright">Copyright &copy;2020 All rights reserved | By <strong>Mehedi Hasan.</strong></p>
  </div>
</footer>
