<div class="container contact">
  <h3 class="contact-title">Get In Touch</h3>
  <div class="row">
    <div class="col-7 left">
      <div class="row">
        <div class="col-3">
          <p>Phone :</p>
          <p>Skype :</p>
          <p>Email : </p>
        </div>

        <div class="col-4">
          <p>+880 1400-214243</p>
          <p>mehedi_skype07</p>
          <a>mdmehedihasanroni28@gmail.com</a>
        </div>
      </div>

        <ul class="about-list-group">
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>

    <div class="col-5 right">
      <p>Or just write me a letter here</p>
      <form>
        <div class="form-group form-elements">
          <input type="text" class="form-control name" placeholder="Your Name">
          <input type="email" class="form-control email" placeholder="Your Email">
          <textarea name="" id="" cols="30" rows="10" class="form-control text-area"
                    placeholder="Message"></textarea>
          <button class="btn send-message-btn">SEND MESSAGE</button>
        </div>
      </form>
    </div>
  </div>
</div>
